# ######################################################################
# # REACT                                                              #
# ######################################################################
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# ######################################################################
# # CORS                                                              #
# ######################################################################
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>


# ######################################################################
# PASSWORD
# ######################################################################
# AuthName "Restricted Area - Website in development"
# AuthType Basic
# AuthUserFile /home/user/project/.htpasswd
# require valid-user
# ErrorDocument 401 "Authorization Required"


#######################################################################
# Redirect old domain to new domain
#######################################################################
# Options +FollowSymLinks
# RewriteEngine On
# RewriteBase /
# RewriteCond %{HTTP_HOST} ^{old}\.com$ [NC]
# RewriteRule ^(.*)$ http://{new}.com [R=301,L]


#######################################################################
# Custom error documents
#######################################################################
# ErrorDocument 400 "400 error"
# ErrorDocument 404 "404 error"
# ErrorDocument 500 "500 error"


#######################################################################
# http tp https
#######################################################################
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


#######################################################################
# www to non www
#######################################################################
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase /
#    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#</IfModule>


#######################################################################
#  force www
#######################################################################
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{HTTP_HOST} !=""
#    RewriteCond %{HTTP_HOST} !^www\. [NC]
#    RewriteCond %{HTTPS}s ^on(s)|
#    RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#</IfModule>


#######################################################################
# remote images
#######################################################################
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule app/uploads/(.*) \
#        https://domain.com/app/uploads/$1 [NC,L]
#</IfModule>


#######################################################################
# Block directory browsing
#######################################################################
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>


#######################################################################
# Remove headers
#######################################################################
<IfModule mod_headers.c>
  Header unset Server
  Header always unset X-Powered-By
  Header unset X-Powered-By
  Header unset X-CF-Powered-By
  Header unset X-Mod-Pagespeed
  Header unset X-Pingback
  Header unset ETag
  FileETag None
</IfModule>


#######################################################################
# Block file access
# https://gist.github.com/wycks/3011895
#######################################################################
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>


#######################################################################
# Server software information
# https://httpd.apache.org/docs/current/mod/core.html#serversignature
#######################################################################
ServerSignature Off


#######################################################################
# Prevent Content transformation
# https://developers.google.com/speed/pagespeed/module/configuration#notransform
#######################################################################
<IfModule mod_headers.c>
  Header merge Cache-Control "no-transform"
</IfModule>


#######################################################################
# Keep Alive
#######################################################################
<ifModule mod_headers.c>
  Header set Connection keep-alive
</ifModule>


# ######################################################################
# Compression
# ######################################################################
<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>


#######################################################################
# Expires headers
# https://httpd.apache.org/docs/current/mod/mod_expires.html
#######################################################################
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault                                      "access plus 1 month"
  # CSS
  ExpiresByType text/css                              "access plus 1 year"
  # Data interchange
  ExpiresByType application/atom+xml                  "access plus 1 hour"
  ExpiresByType application/rdf+xml                   "access plus 1 hour"
  ExpiresByType application/rss+xml                   "access plus 1 hour"
  ExpiresByType application/json                      "access plus 0 seconds"
  ExpiresByType application/ld+json                   "access plus 0 seconds"
  ExpiresByType application/schema+json               "access plus 0 seconds"
  ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
  ExpiresByType application/xml                       "access plus 0 seconds"
  ExpiresByType text/xml                              "access plus 0 seconds"
  # Favicon (cannot be renamed!) and cursor images
  ExpiresByType image/vnd.microsoft.icon              "access plus 1 week"
  ExpiresByType image/x-icon                          "access plus 1 week"
  # HTML
  ExpiresByType text/html                             "access plus 0 seconds"
  # JavaScript
  ExpiresByType application/javascript                "access plus 1 year"
  ExpiresByType application/x-javascript              "access plus 1 year"
  ExpiresByType text/javascript                       "access plus 1 year"
  # Manifest files
  ExpiresByType application/manifest+json             "access plus 1 week"
  ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
  ExpiresByType text/cache-manifest                   "access plus 0 seconds"
  # Media files
  ExpiresByType audio/ogg                             "access plus 1 month"
  ExpiresByType image/bmp                             "access plus 1 month"
  ExpiresByType image/gif                             "access plus 1 month"
  ExpiresByType image/jpeg                            "access plus 1 month"
  ExpiresByType image/png                             "access plus 1 month"
  ExpiresByType image/svg+xml                         "access plus 1 month"
  ExpiresByType image/webp                            "access plus 1 month"
  ExpiresByType video/mp4                             "access plus 1 month"
  ExpiresByType video/ogg                             "access plus 1 month"
  ExpiresByType video/webm                            "access plus 1 month"
  # fonts
  # Embedded OpenType (EOT)
  ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
  ExpiresByType font/eot                              "access plus 1 month"
  # OpenType
  ExpiresByType font/opentype                         "access plus 1 month"
  # TrueType
  ExpiresByType application/x-font-ttf                "access plus 1 month"
  # Web Open Font Format (WOFF) 1.0
  ExpiresByType application/font-woff                 "access plus 1 month"
  ExpiresByType application/x-font-woff               "access plus 1 month"
  ExpiresByType font/woff                             "access plus 1 month"
  # Web Open Font Format (WOFF) 2.0
  ExpiresByType application/font-woff2                "access plus 1 month"
  # Other
  ExpiresByType text/x-cross-domain-policy            "access plus 1 week"
</IfModule>
